* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #131720;
  font-family: sans-serif;
}

h3 {
  color: white;
  font-size: 25px;
}

.topnav {
  overflow: hidden;
  background-color: #131720;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  text-transform: uppercase;
}

.topnav .search-container {
  float: right;
}

form {
  background-color: #151f30;
  width: 300px;
  height: 43px;
  border-radius: 11px;
  display: flex;
  align-items: center;
}

input {
  all: unset;
  font: 15px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 9px;
}

.thumbnail {
  height: 350px;
  width: 300px;
  border-radius: 19px;
  margin-bottom: 15px;
}

.column {
  width: calc(100% / 2); /* Two columns on medium screens */
  padding: 10px;
  box-sizing: border-box; /* Include padding in width calculation */
  
}
/*
.card {
  border-radius: 19px;
  padding: 25px;
  text-align: center;
  background-color: #151f30;
  box-sizing: border-box; /* Include padding in width calculation *
}
*/
#title{
  text-align: center;
}

h3 {
  color: white;
  font-size: 25px;
  white-space: nowrap; /* Prevent text from wrapping */
}

/*.random {
  width: 200px;
}*/

/* Media queries for responsiveness */
@media screen and (min-width: 768px) {
  .column {
    width: 50%; /* 2 columns on medium screens */
    justify-content: center;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text within each column */
  }

  
  
  .thumbnail {
    height: 350px;
    width: 300px;
    border-radius: 19px;
    margin-bottom: 15px;
    object-fit: cover; /* Ensure images maintain aspect ratio */
  }
}

@media screen and (min-width: 1024px) {
  .column {
    width: 25%; /* 4 columns on large screens */
    float: left; /* Float the columns */
  }

}